DATABASE_URL=postgresql+psycopg://postgres:5EPtdVmKqLaGkdZR@db.hcpyyeitixyvcoeritct.supabase.co:5432/postgres?sslmode=require

KAGGLE_API_TOKEN=KGAT_66b7b9b660696d7f3936a7443fe27c73

MLFLOW_TRACKING_URI=https://dagshub.com/AbishanVasanthan/tokyo-cement-ml.mlflow
MLFLOW_TRACKING_USERNAME=AbishanVasanthan
MLFLOW_TRACKING_PASSWORD=15cf9e6296228f89bf49a0d6f3d6bdc2261dc16c

ADMIN_API_KEY=9b8c73238e088e0e8632004dc1e9aff904436a182bca3640d99dc732d0b05966

API_HOST=0.0.0.0
API_PORT=8000